# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/fork-server/build.gradle.kts
/fork-server/src/minecraft
/chiyogami-server/src/minecraft/java/*
!/chiyogami-server/src/minecraft/java/world/
/chiyogami-server/src/minecraft/java/world/*
!/chiyogami-server/src/minecraft/java/world/chiyogami/
!/chiyogami-server/src/minecraft/java/world/chiyogami/**
/chiyogami-server/src/minecraft/resources
/paper-server
/fork-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
